*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #F5F6F7;
    margin: 0;
}

.header{
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(228, 202, 168);
    padding: 20px;
    color: #000040;
    border-bottom: 4px solid #000040;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    padding: 20px 10px;
    max-width: 1400px;
}

.gallery:active{
    content: "";
    width: 350px;
    height: 350px;
}

.gallery img{
    width: 100%;
    max-width: 350px;
    height: 300px;
    margin: 10px;
    border-radius: 25px;
    object-fit: cover;
}